body{
    background-color: #333;
    
}
    
    ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color:#333;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align:center ;
  text-decoration: none;
  padding:14px 16px;
}
.li:link{
    text-decoration: none;
    color:white;
}
 li a:hover {
     text-decoration: underline red;
}
.a{
    color: blue;
    float:left;
    font-size: 30px;
   padding-left:10px;
}
h1{
  align-content: center;
  color:white;
  font-size: 40px;
  padding-top:40px;
    padding-left: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
img{
  width: 30px;
  height: 30px;

}
h3{
  padding-left: 50px;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}
.c{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 90px;
  margin-top: 40px;
   float: left;
  
}
.p{
  display: block;
  padding-top: 1px;
    margin-left: 10px;
   float: left;
   height:60px;
   width:200px;
}

.a{
  display: block;
  margin-top: -20px;
  margin-left: -60px;
  float: left;
   height:70px;
   width: 80px;
   }
   .v{
  display: block;
  margin-top: -27px;
  margin-left: 10px;
  float: left;
   height:50px;
   width: 50px;
   }
   .i{
  display: block;
  margin-top: -50px;
  margin-left: 10px;
  float: left;
   height:50px;
   width: 50px;
   }
    .t{
        display: block;
  margin-top: 80px;
  margin-left: 50px;
  float: left;
   height:50px;
   width: 50px;
   }
   .projects{
    text-decoration: none;
   }
  .photo{
    width: 600px;
    height:500px; }
    .contact-section {
    display: flex;
    justify-content: space-between;
    padding: 70px;
    align-items: center;
    flex-wrap: wrap;
}

/* -------- Left Side -------- */
.contact-left {
    width: 30%;
}

.contact-left h2 {
    font-size: 32px;
    color: #4964ff;
    margin-bottom: 20px;
}

.email {
    font-size: 18px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    font-size: 28px;
    margin-right: 15px;
    color: #4964ff;
    text-decoration: none;
}

.cv-btn {
    padding: 12px 50px;
    background: #e7ddff;
    color: #000;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

/* -------- Right Side -------- */
.contact-right {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    padding: 18px;
    margin-bottom: 15px;
    background: #6a656d;
    border: 1px solid #4d57ff;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

.contact-right textarea {
    height: 160px;
    resize: none;
}

.submit-btn {
    width: 180px;
    padding: 12px;
    background: #e7ddff;
    color: black;
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 17px;
}

/* -------- Responsive -------- */
@media (max-width: 900px) {
    .contact-section {
        flex-direction: column;
        text-align: center;
    }

    .contact-left, .contact-right {
        width: 100%;
    }

    .contact-right {
        margin-top: 30px;
    }
}
